.banner {
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
}

.right-banner img {
    width: 400px;
    border-radius: 2px;
    margin-bottom: 3px;
}

.bottom-section {
    width: 1200px;
    justify-content: space-between;
    margin-top: 20px;
    align-items: flex-start;
    margin-bottom: 20px;
}

.bottom-section li {
    width: 85px;
    height: 80px;
    text-align: center;
    cursor: pointer;
}

.bottom-section li img {
    width: 45px;
    margin-bottom: 5px;
}

.bottom-section li span{
    margin-bottom: auto;
}

.bottom-section li:hover img {
    width: 48px;
    margin-bottom: 6px;
}

.swiper {
    width: 815px;
}

.swiper .swiper-wrapper .swiper-slide img {
    width: 810px;
    border-radius: 2px;
    margin-right: 5px;
}

.swiper-button-prev{
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    left: 0;
}

.swiper-button-next{
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    right: 5px;
}

.swiper-button-prev::after, .swiper-button-next::after{
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.swiper:hover .swiper-button-next, .swiper:hover .swiper-button-prev{
    display: flex;
}

.swiper-pagination-bullet-active{
    background-color: white;
}